<h1>Account List</h1>
<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="account.accountKey">
      <mat-header-cell *matHeaderCellDef> Key </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.account.accountKey}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="account.accountCode">
      <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a href="" [routerLink]="['/accounts', row.account.accountKey]"> {{row.account.accountCode}} </a>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="account.accountName">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.account.accountName}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="account.accountDesc">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.account.accountDesc}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [length]="accounts.length" [pageIndex]="0" [pageSize]="7" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
<br/>
<a href="" [routerLink]="['/companies']"> Back to company list </a>
